# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Tuist
Tuist/.build/
Derived/
*.xcodeproj
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Codex
.codex/config.toml
tmp/
